<nav class="bg-white border-gray-200 fixed top-0 left-0 w-full shadow">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4"
  >
    <a
      routerLink="products"
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <img
        src="https://flowbite.com/docs/images/logo.svg"
        class="h-8"
        alt="Flowbite Logo"
      />
      <span class="self-center text-2xl font-semibold whitespace-nowrap"
        >E-shop</span
      >
    </a>

    
      <ul
        class="hidden lg:flex items-center justify-start gap-6 md:gap-8 py-3 sm:justify-center"
      >
        <li>
          <a
            routerLink="/products"
            title=""
            class="flex text-sm font-medium text-gray-900 hover:text-primary-700"
          >
            Home
          </a>
        </li>
        <li class="shrink-0">
          <a
            routerLink="/products"
            title=""
            class="flex text-sm font-medium text-gray-900 hover:text-primary-700"
          >
            Best Sellers
          </a>
        </li>
        <li class="shrink-0">
          <a
            routerLink="/products"
            title=""
            class="flex text-sm font-medium text-gray-900 hover:text-primary-700"
          >
            Gift Ideas
          </a>
        </li>
        <li class="shrink-0">
          <a
            routerLink="/products"
            title=""
            class="text-sm font-medium text-gray-900 hover:text-primary-700"
          >
            Today's Deals
          </a>
        </li>
        <li class="shrink-0">
          <a
            routerLink="/products"
            title=""
            class="text-sm font-medium text-gray-900 hover:text-primary-700"
          >
            Sell
          </a>
        </li>
      </ul>

      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white"
      >
        <button
          routerLink="/cart"
          id="myCartDropdownButton1"
          data-dropdown-toggle="myCartDropdown1"
          type="button"
          class="inline-flex items-center rounded-lg justify-center p-2 hover:bg-gray-100 text-sm font-medium leading-none text-gray-900"
        >
          <span class="sr-only"> Cart </span>
          <svg
            class="w-5 h-5 lg:me-1"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7H7.312"
            />
          </svg>
          <span class="hidden sm:flex font-medium">My Cart</span>
        </button>
      </ul>
    </div>
</nav>
